process {
  memory = '5 GB'
  time = '3h'
  cpus = 2
}

executor {
  $slurm {
      queueSize = 60
  }

  $local {
      queueSize = 2
      pollInterval = '1sec'
  }
}

params {
  batch_size = 2000
  bamDir = '/groups/umcg-pub/tmp04/projects/stimulated_gluten_specific_Tcell_clones_TCC23052016/pipelines/splice_junctions/results/sortedBam'
  preprocessing_dir = 'out/preprocessing'
  preprocessing_ase = 'out/preprocessing/ASE_counts'
  timepoint_base_dir = 'out/timepoint'
  timepoints = [0, 10, 30, 180]
  vcfDir = 'input_data/vcf_by_chrom'
  refVcfDict = '/apps/data/ftp.broadinstitute.org/bundle/2.8/b37/human_g1k_v37.dict'
  GTF = '/apps/data/ftp.sanger.ac.uk/pub/gencode/Gencode_human/release_25/GRCh37_mapping/gencode.v25lift37.annotation.gtf'
  genome_ref = '/apps/data/ftp.broadinstitute.org/bundle/2.8/b37/human_g1k_v37.fasta'
  snp_window_size = 5e5
}

