process {
  memory = '5 GB'
  time = '3h'
  cpus = 2
}

executor {
  $slurm {
      queueSize = 30
  }

  $local {
      queueSize = 4
      pollInterval = '1sec'
  }
}

params.bamDir = '/groups/umcg-pub/tmp04/projects/stimulated_gluten_specific_Tcell_clones_TCC23052016/pipelines/splice_junctions/results/sortedBam'
params.vcf = 'work/95/a11dc139758d175421a93e2c0b38d8/all.vcf'
params.preprocessing_dir = 'out/preprocessing'
params.timepoints = [0, 10, 30, 180]
